/* MAIN TEXT */

.wrapper {

    position: relative;
    display: inline-block;

    font-weight: 800;

    letter-spacing: 6px;

    color: #e6eef2;

    white-space: nowrap;

}


/* CHARACTER CONTAINER */

.charWrapper {

    position: relative;
    display: inline-block;

}


/* CLEAN CHARACTER */

.clean {

    position: relative;
    z-index: 3;

}


/* BASE SLICE */

.slice {

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    filter: blur(3px);

    pointer-events: none;

    animation: sliceMove linear infinite alternate;
    animation-timing-function: steps(1, end);

    will-change: transform;

}


/* BACK STREAKS */

.backLayer {

    z-index: 1;
    color: #0097ff;

    opacity: 0.9;

}


/* MID STREAKS */

.midLayer {

    z-index: 2;
    color: #009eff;

    opacity: 0.9;

}


/* FRONT FRAGMENTS */

.frontLayer {

    z-index: 4;
    color: #009bff;

    opacity: 0.6;

}


/* MOTION */
@keyframes sliceMove {

    0% { transform: translateX(0); }

    40% { transform: translateX(0); }

    45% { transform: translateX(-16px); }

    50% { transform: translateX(14px); }

    55% { transform: translateX(-10px); }

    100% { transform: translateX(0); }

}

/*
@keyframes sliceMove {

    0% { transform: translateX(0); }
    25% { transform: translateX(-12px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-14px); }
    100% { transform: translateX(0); }

}
*/

/*
@keyframes sliceMove {

    0% { transform: translateX(0); }

    20% { transform: translateX(-8px); }

    40% { transform: translateX(6px); }

    60% { transform: translateX(-7px); }

    80% { transform: translateX(10px); }

    100% { transform: translateX(0); }

}*/
